.footer {
    background-color: #171717;
    color: #fff;
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;

    .left {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-width: 30%;

        .logos {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .right {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-width: 30%;

        .logos {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
        }
    }

    a {
        text-decoration: none;
        width: 24px;
        height: 24px;
        display: block;
        &:hover {
            text-decoration: underline;
        }
        svg {
            width: 24px;
            height: 24px;
            fill: #fff;
            display: block;
        }
    }
}