body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}
html {
    background: #d56174;
    background: -webkit-linear-gradient(top right, #d56174,#d085ff, #6bbaff);
    background: -moz-linear-gradient(top right, #d56174,#d085ff, #6bbaff);
    background: linear-gradient(to bottom left, #d56174,#d085ff, #6bbaff);
}
